html, body {
  width: 100%;
  height: 100%;
}

html { 
  background: url(http://images3.alphacoders.com/324/32477.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.darth {
  position: fixed;
  right: 0;
  opacity: 0;
}

.hidden {
  display: none;
}

#grabStrengthSlider {
  width: 20%;
}

.lightsaber {
  width: 100%;
  height: 100%;
  
  background: url(http://i.imgur.com/Q4Lzwxj.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}