html { 
  background: url(http://images3.alphacoders.com/324/32477.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.hidden {
  display: none;
}

#grabStrengthSlider {
  width: 20%;
}